body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    background-color:#f2efe9ff;
    color: #363822
}

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0 75px 0;
    background: url("Images/summerhouses.jpg");
    background-size: cover;
    background-position: center;
}

#hero-title {
    padding: 10px 20px;
    background-color: #A89B84;
    border-radius: 10px;
    margin: 25px 0;
}

#hero-sub {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 17px;
    background-color: #F2EFE9;
    border: 1px solid #A89B84;
    border-radius:10px;
    margin-bottom: 40px;
}

#activities-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
}

.activity-title {
    font-weight: bold;
}

.activity-item{
    width:25%;
}

.activity-img {
    width:100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #A89B84;
}

.link-style {
    text-decoration: none;
    color: inherit;
}

.link-style:hover {
    text-decoration:underline;
}
